<!-- <div class="status alert alert-success" ></div>-->
<div class="row">
	<div class="col s12 m4 l3 btn-group-vertical " >
		<p class="heading h3 center">Acciones</p>
		<a href="/admin/index" class="btn waves-effect waves-light red darken-2"><i class="material-icons left">view_list</i>Ver todos</a>
		
		<a href="/admin/edit/<%=admin.id%>" class="btn waves-effect waves-light red darken-2"><i class="material-icons left">edit</i>Editar</a>
		<a href="/admin/destroy/<%=admin.id%>" class="btn waves-effect waves-light red darken-2"><i class="material-icons left">delete</i>Eliminar</a>
	</div>
	<div class="col s12 m8 l8 offset-l1" >
		<div class="row">
			<p class="heading h1 center">Administrador</p>
		</div>
		<!--inicio col-->
		
		
		<div class="">
			<label class="lead" >Nombre</label>
			<p class="lead"><%=admin.fullName%></p>
		</div>
		<div class="">
			<label class="lead" >Correo electrónico</label>
			<p class="lead"><%=admin.email%></p>
		</div>
		<div class="">
			<label class="lead" >Nombre de usuario</label>
			<p class="lead"><%=admin.username%></p>
		</div>
		<div class="">
			<label class="lead" >Celular</label>
			<p class="lead"><%=admin.mobile%></p>
		</div>
		<!--fin col-->
	</div>
</div>