
<% if(flash && flash.err) { %>
<% var m=JSON.stringify(flash.err) %>
<input type="hidden" id="message" value="<%=m%>">
<% } %>
<div id="index-banner" class="col s12 l12 parallax-container" style="height:800px;">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<div class="row ">
				<div class="center">
					<img class="responsive-img center" width="200" src="/images/titlewhite.png">
					
				
					<p class="lead white-text">Por favor ingrese la información a continuación restablecer su contraseña</p>
					<br>
					
					<div class="card-panel col s12 m6 l8 offset-l2 z-depth-5  center hide-on-small-only  hoverable">
						<form id="main-contact-form" class="contact-form " name="contact-form" method="post" action="/user/newpassword">
							<br>
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="username" name="username" type="text" class="validate white" required>
									<label for="username"> Por favor ingrese su nombre de usuario</label>
								</div>
							</div>
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="code" name="code" type="text" class="validate white" required>
									<label for="code"> Por favor ingrese el código</label>
								</div>
							</div>
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="passwordNew" name="passwordNew" type="password" class="validate white" required>
									<label for="passwordNew"> Contraseña nueva</label>
								</div>
							</div>
							
							<input type="hidden" class="form-control" name="id" value="<%=user.id%>"  >

							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="passwordConfirmation" name="passwordConfirmation" type="password" class="validate white" required>
									<label for="passwordConfirmation"> Confirmación de contraseña</label>
								</div>
							</div>
														
							<input  name="url" type="hidden" class="validate white" value="<%=req.url%>" >
							<div class="col s9 offset-s3">
								<button type="submit" class="btn-floating btn-large waves-effect waves-light blue right hoverable"><i class="material-icons">send</i></button>
							</div>
						</form>
					</div>
					
					
					
				</div>
				
			</div>
			
			<br><br>
		</div>
	</div>
	<div class="parallax  ">
		<img class="responsive-img" src="/images/landing/fondo.jpg" alt="Unsplashed background img 1">
	</div>
</div>
<div id="index-banner" class="col s12 l8 parallax-container blue hide-on-large-only">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<div class="row ">
				<div class="center">
					<img class="responsive-img center" width="200" src="/images/titlewhite.png">
					
				
					<p class="lead white-text">Por favor ingrese la información a continuación restablecer su contraseña</p>
					<br>
					
					<div class="card-panel col s12 m6 l16 offset-l3  center  hoverable">
						<form id="main-contact-form" class="contact-form " name="contact-form" method="post" action="/user/newpassword">
							
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="username" name="username" type="text" class="validate white" required>
									<label for="username"> Por favor ingrese su nombre de usuario</label>
								</div>
							</div>
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="code" name="code" type="text" class="validate white" required>
									<label for="code"> Por favor ingrese el código</label>
								</div>
							</div>
							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="passwordNew" name="passwordNew" type="password" class="validate white" required>
									<label for="passwordNew"> Contraseña Nueva</label>
								</div>
							</div>
							
							<input type="hidden" class="form-control" name="id" value="<%=user.id%>"  >

							<div class="row">
								
								<div class="input-field col s9 offset-s1 ">
									<input id="passwordConfirmation" name="passwordConfirmation" type="password" class="validate white" required>
									<label for="passwordConfirmation"> Confirmación de contraseña</label>
								</div>
							</div>
							
							<input  name="url" type="hidden" class="validate white" value="<%=req.url%>" >
							<div class="col s9 offset-s3">
								<button type="submit" class="btn-floating btn-large waves-effect waves-light blue right hoverable"><i class="material-icons">send</i></button>
							</div>
						</form>
					</div>
					
					
					
				</div>
				
			</div>
			
			<br><br>
		</div>
	</div>
	<div class="parallax  ">
		
	</div>
</div>